{% if admin.hasAccess('history', object) and admin.hasRoute('history') %}
    <a 
        href="{{ admin.generateObjectUrl('history', object) }}"
        class="btn btn-sm btn-default view_link"
        title="{{ 'link_action_history'|trans({}, 'SonataAdminBundle') }}">
        <i class="fa fa-history" aria-hidden="true"></i>
    </a>
{% endif %}
