# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:

    locale: 'fr'
    mailer_user: 'root@root.fr'
    
    sonata.media.admin.media.class: App\Admin\MediaAdmin\MediaAdmin
    sonata.media.admin.gallery.class: App\Admin\MediaAdmin\GalleryAdmin

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/*'
        exclude: '../src/{DependencyInjection,Entity,Migrations,Tests,Kernel.php,Bundle}'

    # controllers are imported separately to make sure services can be injected
    # as action arguments even if you don't extend any base controller class
    App\Controller\:
        resource: '../src/Controller'
        tags: ['controller.service_arguments']

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
    
    # service for KnpMenuBundle compatibility with symfony 4
    app.service.menu_builder:
        class: App\Service\Menu\MenuBuilder
        arguments: ["@knp_menu.factory"]
        tags:
            - { name: knp_menu.menu_builder, method: header, alias: header }
            - { name: knp_menu.menu_builder, method: footer, alias: footer }

# imports:
#     - { resource: '%kernel.project_dir%/file.yaml' }