{% extends "front/layout/default.html.twig" %}

{% block after_stylesheets %}

    {{ encore_entry_link_tags('front/pages/account') }}

{% endblock %}

{% block body %}

    <default-header title="Default Account Page"></default-header>

    <div id="account" class="container">

        <account></account>

        {% if app.user %}
            <h1 class="h3 mb-3 font-weight-normal">You are logged in as {{ app.user.username }}, 
            <a href="{{ path('app_logout') }}">Logout</a></h1>
        {% endif %}

    </div>

{% endblock %}

{% block after_javascripts %}

    {{ encore_entry_script_tags('front/pages/account') }}

{% endblock %}
