{% extends "front/layout/default.html.twig" %}

{% block stylesheets %}

    {{ parent() }}
    {{ encore_entry_link_tags('home/app') }}

{% endblock %}

{% block body %}

    <div id="home">
        {# global component in app.js #}
        {# <default></default>  #}
        <home></home>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    {{ encore_entry_script_tags('home/app') }}

{% endblock %}
